/* 
body{
    background-image: url(images/bgImage2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300vh;
    position: relative;
    
} */

body::before{
    content: '';
    background-image: url(images/bgImage2.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300vh;
    position: relative;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}


/* styling for heading on page */
h1{
    text-align: center;
    position: relative;
}


/* Styling for Search Bar */
.search-bar{
    width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    position: relative;

}

.info-from-db{
    text-align: center;
}
/* .info-from-db > p::after{
    content: "\a";
    white-space: pre;
} */

/* .search-button{

} */




/* Styling of the form */
#adding-movies{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid red;
    padding: 2rem;

}

label{
    display: block;
    padding: 1rem 0 .25rem;
    font-size: 16px;
}

input,
textarea{
    display: block;
    width: 100%;
    border: 2px solid black;
    padding: .5rem;
    font-size: 18px;
    border-radius: 5px;
}

/* Add button styling */
#add{
    background-color: purple;
    color: white;
    padding: .5rem;
    margin: 1rem;
    cursor: pointer;
    width: auto;
}

#add:hover{
    color: blue;
}
